.wrapper {
    width: 224px;
    height: 324px;
    background-color: #1B1B1B;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
}
.content{
    max-width: 182px;
    width: 100%;
    margin: 20px auto;
}

img {
    width: 182px;
    height: 182px;
    border-radius: 8px;
}

h2 {
    color: white;
    font-size: 20px;
    font-weight: 700;
    line-height: 25.3px;
    letter-spacing: 0.03em;
    text-align: left;

}

p {
    color: #b3b3b3;
    font-size: 14px;
    font-weight: 450;
    line-height: 22.77px;
    text-align: left;
    overflow: hidden;
}