.container {
    width: 90%;
    margin: 50px auto;
}

.head {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

p {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon {
    font-size: 30px;
}

.icons {
    font-size: 20px;
}

.navlink {
    text-decoration: none;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
    font-size: 18px;
    font-weight: 450;
    line-height: 22.77px;
    text-align: left;

}

.top {
    display: flex;
    justify-content: space-between;

}

.topp {
    font-size: 20px;
    font-weight: 700;
    line-height: 25.3px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #CCCCCC;
}

.lorem {
    font-size: 13px;
    font-weight: 450;
    line-height: 24px;
    text-align: left;
    color: #CCCCCC;
}

.users {
    margin-top: 20px;
}

button {
    margin-top: 50px;
    width: 233px;
    height: 62px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
 
    color: black;
    font-size: 18px;
    font-weight: 700;
    line-height: 22.77px;
    letter-spacing: 0.14em;
    text-align: center;
}